body {
    margin: 0;
    padding: 0;
    max-width: 80vw;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
}

header {
    background-color: #D5EBF5;
    box-shadow: 0px 8px 16px #009FE3;
    width: 100%;
    height: 10vh;
    color: #312783;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: visible;
}

.logo {
    height: 100%;
    margin-left: 1vw;
}

.title {
	display: flex;
    flex-direction: column;
    margin-right: auto;
    margin-left: 1vh;

}

.title h1 {
    margin: 0;
    font-size: 1.8rem;
}


.hamburger {
    font-size: 2rem;
    cursor: pointer;
    margin-right: 2vw;
    position: relative;
    z-index: 10;
}

/* Navigation */

.navbar{
	position: relative;
}
.navbar ul {
    list-style: none;
    padding: 0;
    display: none;
    flex-direction: column;
    background-color: #D5EBF5;
    position: absolute;
    right: 0; /* Align to the right edge of the navbar */
    top: 100%; /* Position the menu below the navbar */
    padding: 10px;
    width: 200px; /* Set a width for the dropdown menu */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 5;
}

#nav-menu.active {
    display:flex;
	transform: translateY(4vh)
}


.navbar ul li {
    position: relative;
    list-style: none;
    margin-bottom: 10px;
}

.navbar ul li a {
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: #312783;
    padding: 8px 16px;
    text-align: left;
    white-space: nowrap;
    border-bottom: 1px solid transparent;
    transition: border-bottom 0.3s ease;
}


.navbar ul li a:hover {
    color: #009FE3;
    border-bottom: 1px solid #009FE3;
}
.description {
	width: 80%;
	margin: auto;
	padding: 16px;
	text-align: justify;
	text-justify: inter-word;
	color: #312783;
	font-family: Arial;
	font-size: 2vh;
	background-color: #D5EBF5;
    box-sizing: border-box;
}
.Images {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 80%;
    margin: 32px auto;
    padding-top: 16px;
    padding-bottom: 16px;
    box-sizing: border-box;
}


.Images img {
    width: 100%;
    height: auto;
    display: block;
}


.recordings {
    width: 80%;
    margin: 0 auto;
    background-color: #EEEEEE;
    padding: 20px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
	margin-top: 4vh;
}

.recordings h1 {
    background-color: #312783;
    color: white;
    padding: 15px;
    text-align: left;
    width: 100%;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial;
}

.recordings h2, 
.recordings h3, 
.recordings p {
    margin-left: 0;
    margin-right: 0;
    padding-left: 20px;
    padding-right: 20px;
	font-family: arial;
}

.recordings h2 {
    margin-top: 20px;
}

.director {
    width: 80%;
    margin: 0 auto;
    background-color: #EEEEEE;
    padding: 20px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
	margin-top: 4vh;
}

.director h1 {
    background-color: #312783;
    color: white;
    padding: 15px;
    text-align: left;
    width: 100%;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial;
}

.director h2, 
.director h3, 
.director p {
    margin-left: 0;
    margin-right: 0;
    padding-left: 20px;
    padding-right: 20px;
	font-family: arial;
}

.director h2 {
    margin-top: 20px;
}

audio {
    display: block;
    width: 90%;
	outline: none;
}
hr {
	border: 2px solid #312783;
}
.director-content {
    display: flex;
    flex-direction: row;
    gap: 20px;      /* space between text and image */
    align-items: flex-start;
}

.director-content p {
    flex: 1;        /* text takes remaining space */
}

.director-content img {
    max-width: 300px;
    height: auto;
}